# MongoDB Connection
# Example: mongodb+srv://<user>:<password>@cluster.mongodb.net/mapchat
MONGODB_URI=

# NextAuth Configuration
# Generate a secret: openssl rand -base64 32
NEXTAUTH_SECRET=j+3pNqnKRpL8Kh5sJfpMngfuOXdtTUVqBUVpKOonWTU=
NEXTAUTH_URL=http://localhost:3000

# Google OAuth Credentials
# Obtain from Google Cloud Console (APIs & Services > Credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Server Port (Optional, default is 3000)
PORT=3000
NODE_ENV=production
